@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
